{% extends "base.html" %}
{% block content %}

{% block content_title %}
{% endblock %}

<section class="section">
  <div class="container is-max-desktop">
    <div class="columns is-centered is-multiline">

      {% for article in articles_page.object_list %}
      <div class="column is-8 card mb-6 blogpost">

        <div class="card-content">
          <div class="columns">
            <div class="column is-10 is-offset-1">
              <h3 class="has-text-centered semibold title">{{ article.title }}</h3>
              <p class="has-text-centered has-text-grey subtitle">
                {{ article.author }} op {{ article.locale_date }}</p>
            </div>
          </div>

          <div class="content">
            {{ article.content }}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  {% if articles_page.has_other_pages() %}
  {% include 'pagination.html' %}
  {% endif %}
</section>

{% endblock content %}
